[Desktop Entry]
Version=0.1
Name=Gooroom Guide
Comment=Describes the features of the Gooroom platform
Encoding=UTF-8
Exec=gooroom-guide autostart
Icon=gooroom-guide
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
